@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Montserrat", sans-serif;

  --color-primary: #B88E2F;
  --color-secondary: #f9f1f7;
  --color-accent: #9f9f9f;
  --color-background: #f5f5f5;
  --color-heading: #000000;
}

@layer components {
  * {
    font-family: var(--font-primary);
    box-sizing: border-box;
  }
  .active {
    background: var(--color-secondary);
    padding: 0.25rem 1rem;
    border-radius: 0.4rem;
  }
  .btn-hover:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
  }
}
